/*
Theme Name: cooler
Theme URI: http://demo.themeton.com/
Description: Fully Responsive Corporate Theme For Your Business
Author: ThemeTon
Author URI: http://www.themeton.com
Version:1.0
License:
License URI:
Tags:one-column, two-columns, left-sidebar, right-sidebar, responsive-layout, fluid-layout, custom-background, custom-colors, custom-menu, featured-image-header, featured-images, post-formats, theme-options, translation-ready
*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter {display: block; margin: 5px auto 5px auto; }
.alignright {float:right; margin: 5px 0 20px 20px; }
 .alignleft {float: left; margin: 5px 20px 20px 0; }
.aligncenter {display: block; margin: 5px auto 5px auto; }
a img.alignright {float: right; margin: 5px 0 20px 20px; }
a img.alignnone {margin: 5px 20px 20px 0; }
a img.alignleft {float: left; margin: 5px 20px 20px 0; }
a img.aligncenter {display: block; margin-left: auto; margin-right: auto }
.wp-caption {background: #fff; border: 1px solid #f0f0f0; max-width: 96%; /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone {margin: 5px 20px 20px 0; }
.wp-caption.alignleft {margin: 5px 20px 20px 0; }
.wp-caption.alignright {margin: 5px 0 20px 20px; }
.wp-caption img {border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
.bypostauthor,.gallery-caption {}
body.rtl .swiper-container>.swiper-wrapper{float:left;}
.blog.medium-loop .sticky .medium-content,
.blog.grid-loop article.sticky{border-style: dashed;border-width: 2px;}

/* Slider width */
#tt-slider .fullscreen-container, #tt-slider .fullwidthbanner-container {
    width: 100% !important;
    left: 0px !important;
}
#tt-slider .fullscreen-container .tp-rightarrow, #tt-slider .fullwidthbanner-container .tp-rightarrow{
    right: 40px !important;
}
#tt-slider .fullscreen-container .tp-leftarrow, #tt-slider .fullwidthbanner-container .tp-leftarrow{
    left: 40px !important;
}
#tt-slider .fullscreen-container .tp-bullets, #tt-slider .fullwidthbanner-container .tp-bullets{
    margin-left: 0px !important;
}